div:hover{
    border: 5px solid green;
}
.primary{
    background-color: aquamarine;
    color: red;
}
.secondary{
    background-color: brown;
    font-family: monospace;
    font-size: 20px;
}
.complementary {
    background-color: coral;
    height: 100px;
}

.dark {
    background-color: darkblue;
}

.light {
    background-color: lightcyan;
}

.primary, .complementary, .light{
    font-style: italic;
}